hrcm-azuredf/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "hrcm-azuredf"
		},
		"hrcm_AzureKeyVault_ls_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://hrcm-keyvlt.vault.azure.net/"
		},
		"hrcm_AzureDataLakeStorage_ls_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://hrcmproject.dfs.core.windows.net/"
		},
		"hrcm_AzureDatabricks_ls_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0224-074321-1cui8ejt"
		},
		"hrcm_AzureSqlDatabase_ls_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "hrcmsqlserver.database.windows.net"
		},
		"hrcm_AzureSqlDatabase_ls_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "@{linkedService().db_name}"
		},
		"hrcm_AzureSqlDatabase_ls_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "chandra"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/hrcm_AzureKeyVault_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('hrcm_AzureKeyVault_ls_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/hrcm_AzureDataLakeStorage_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('hrcm_AzureDataLakeStorage_ls_properties_typeProperties_url')]",
					"accountKey": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "hrcm_AzureKeyVault_ls",
							"type": "LinkedServiceReference"
						},
						"secretName": "hrcm-adls-key"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/hrcm_AzureKeyVault_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/hrcm_AzureDatabricksDeltaLake_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricksDeltaLake",
				"typeProperties": {
					"domain": "https://adb-918355591549328.8.azuredatabricks.net/",
					"clusterId": "0224-074321-1cui8ejt",
					"accessToken": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "hrcm_AzureKeyVault_ls",
							"type": "LinkedServiceReference"
						},
						"secretName": "hrcm-db-accesstoken-key"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/hrcm_AzureKeyVault_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/hrcm_AzureDatabricks_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-918355591549328.8.azuredatabricks.net/",
					"accessToken": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "hrcm_AzureKeyVault_ls",
							"type": "LinkedServiceReference"
						},
						"secretName": "hrcm-db-accesstoken-key"
					},
					"existingClusterId": "[parameters('hrcm_AzureDatabricks_ls_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/hrcm_AzureKeyVault_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/hrcm_AzureSqlDatabase_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"db_name": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('hrcm_AzureSqlDatabase_ls_properties_typeProperties_server')]",
					"database": "[parameters('hrcm_AzureSqlDatabase_ls_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('hrcm_AzureSqlDatabase_ls_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "hrcm_AzureKeyVault_ls",
							"type": "LinkedServiceReference"
						},
						"secretName": "azsqldb-key"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/hrcm_AzureKeyVault_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/emr_ddl_configs_ls')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "hrcm_AzureDataLakeStorage_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "emr_ddl_configs.txt",
						"fileSystem": "configs"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "root",
						"type": "String"
					},
					{
						"name": "subroot",
						"type": "String"
					},
					{
						"name": "filename",
						"type": "String"
					},
					{
						"name": "db_name",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/hrcm_AzureDataLakeStorage_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dynamic_adlsgen2_datasets')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "hrcm_AzureDataLakeStorage_ls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"root": {
						"type": "string"
					},
					"subroot": {
						"type": "string"
					},
					"filename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().subroot",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().root",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/hrcm_AzureDataLakeStorage_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dynamic_AzureSqlTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "hrcm_AzureSqlDatabase_ls",
					"type": "LinkedServiceReference",
					"parameters": {
						"db_name": {
							"value": "@dataset().db_name",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"db_name": {
						"type": "string"
					},
					"schema": {
						"type": "string"
					},
					"table": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().schema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/hrcm_AzureSqlDatabase_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/hrcm_emr_azuredb_ddl_pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 5,
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false,
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"value": "@item().filename",
											"type": "Expression"
										}
									},
									"inputs": [
										{
											"referenceName": "Dynamic_adlsgen2_datasets",
											"type": "DatasetReference",
											"parameters": {
												"root": {
													"value": "@item().root",
													"type": "Expression"
												},
												"subroot": {
													"value": "@item().subroot",
													"type": "Expression"
												},
												"filename": {
													"value": "@concat(item().filename , '.csv')",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "Dynamic_AzureSqlTable",
											"type": "DatasetReference",
											"parameters": {
												"db_name": {
													"value": "@item().db_name",
													"type": "Expression"
												},
												"schema": {
													"value": "dbo",
													"type": "Expression"
												},
												"table": {
													"value": "@item().filename",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "emr_ddl_configs_ls",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-02-27T07:26:57Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/emr_ddl_configs_ls')]",
				"[concat(variables('factoryId'), '/datasets/Dynamic_adlsgen2_datasets')]",
				"[concat(variables('factoryId'), '/datasets/Dynamic_AzureSqlTable')]"
			]
		}
	]
}